.derby-info
  %h2= full_derby_title(@derby)

.derby-entries
  - @derby.derby_entries.each do |entry|
    .entry
      .entry-img
        = derby_entry_link(image_tag(entry.image_path, size: '186x186', alt: entry.title), entry)
      .entry-title
        = derby_entry_link(entry.title, entry)
